<%= form_for(@finishing) do |f| %>
  <% if @finishing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@finishing.errors.count, "error") %> prohibited this finishing from being saved:</h2>

      <ul>
      <% @finishing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :search_string %><br>
    <%= f.text_field :search_string %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
