<%= form_for @device, :html => {:class => "form-horizontal"} do |f| %>
    <% if @device.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@device.errors.count, "error") %> prohibited this device from being saved:</h2>

            <ul>
                <% @device.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="row">
        <div class="col-md-12">
            <table style="background:transparent;" class="table table-condensed table-responsive table-striped">
                <tbody>
                    <tr>
                        <td width="10" style="white-space:nowrap;"><strong><label class="control-label" for="device_brand">Manufacturer</label></strong></td>
                        <td width="100%"><%= f.text_field :brand, :class => "form-control" %></td>
                    </tr>
                    <tr>
                        <td width="10" style="white-space:nowrap;"><strong><label class="control-label" for="full_name">Model</label></strong></td>
                        <td width="100%"><%= f.text_field :full_name, :class => "form-control" %></td>
                    </tr>
                    <tr>
                        <td width="10" style="white-space:nowrap;"><strong><%= f.label :row_order, :class => "control-label" %></strong></td>
                        <td width="100%"><%= f.text_field :row_order, :class => "form-control" %></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <%= f.submit class: "btn btn-success btn-xs", :style => "color: #fff !important; width: 100px;" %>
            <%= link_to 'Back', cases_path, :style => "color: white; width: 100px;" , :class => "btn btn-info btn-xs" %>
        </div>
    </div>
<% end %>
