<h1 style="background:white;">Listing devices</h1>

<table id="table-devices" style="background:white;" class="table table-condensed table-responsive table-hover ">
  <thead>
    <tr>
      <th>Full name</th>
      <th>Brand</th>
      <th>Cases</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td><%= device.full_name %></td>
        <td><%= device.brand %></td>
        <td><%= device.cases.to_a.map{ |x| x.name + " " + x.color + ": " + x.product_type }.join(', ') %></td>
        <td><%= link_to 'Show', device %></td>
        <td><%= link_to 'Edit', edit_device_path(device) %></td>
        <td><%= link_to 'Destroy', device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Device', new_device_path, :style => "color: white;" , :class => "btn btn-primary btn-lg" %>
