<div class="container valenta">
  <div class="row">
    <div class="col-md-3">
      <h1 style="color: #fff">Cases <%= link_to 'New Case', new_case_path, :style => "color: white;" , :class => "btn btn-success" %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table style="background:transparent;" class="table table-condensed table-responsive table-hover table-striped">
        <thead>
          <tr>
            <th style="white-space:nowrap; color: #fff;">Product type</th>
            <th style="white-space:nowrap; color: #fff;">Name</th>
            <th style="white-space:nowrap; color: #fff;">Color</th>
            <th style="white-space:nowrap; color: #fff;">Material</th>
            <th style="white-space:nowrap; color: #fff;">Finishing</th>
            <th style="white-space:nowrap; color: #fff;">Compatibility</th>
            <th style="white-space:nowrap; color: #fff;">Image</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @cases.each do |f| %>
            <tr>
              <td style="white-space:nowrap;"><%= f.product_type %></td>
              <td style="white-space:nowrap;"><%= f.name %></td>
              <td style="white-space:nowrap;"><%= f.color %></td>
              <td style="white-space:nowrap;"><%= f.material.tr('+/', '-_').unpack('m')[0] %></td>
              <td style="white-space:nowrap;">
              <p style="white-space:nowrap; width:100px; overflow:hidden; text-overflow: ellipsis;" class="p-no-margin"><%= f.finishings.to_a.map(&:name).join(', ') %></p>
              </td>
              <td style="white-space:nowrap;">
              <p style="white-space:nowrap; width:210px; overflow:hidden; text-overflow: ellipsis;" class="p-no-margin"><%= f.devices.to_a.map(&:full_name).join(', ') %></p>
              </td>
              <td><%= f.picture.present? %></td>
              <td><%= link_to 'View', f, :class => "btn btn-info btn-xs" %></td>
              <td><%= link_to 'Edit', edit_case_path(f), :class => "btn btn-warning btn-xs" %></td>
              <td><%= link_to 'Delete', f, method: :delete, :class => "btn btn-danger btn-xs", data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

    </div>
  </div>
</div>