<h1 style="background:white;">New case</h1>

<%= form_for @case, :html => {:class => "form-horizontal"} do |f| %>
  <% if @case.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@case.errors.count, "error") %> prohibited this case from being saved:</h2>

      <ul>
      <% @case.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10"><%= f.text_field :name, :class => "form-control", :required => true %></div>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10"><%= f.text_field :description, :class => "form-control", :required => true %></div>
  </div>
  <div class="form-group">
    <%= f.label :color, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10"><%= f.text_field :color, :class => "form-control", :required => true %></div>
  </div>
  <div class="form-group">
    <%= f.label :product_type, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10"><%= f.select :product_type, [['Pocket'],['Bag'],['Belt'],['Click-on'],['Flip'],['Booklet'],['Pouch'],['Wallet'],['Handbag'],['Tablet']], {:prompt => '-- Select One --'}, :class => "form-control", :required => true %></div>
  </div>
  <div class="form-group">
    <%= f.label :material, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10"><%= f.select :material, [['Leather', 'TGVhdGhlcg=='], ['Non Leather', 'Tm9uLUxlYXRoZXI=']], {:prompt => '-- Select One --'}, :class => "form-control", :required => true %></div>
  </div>
  <div class="form-group">
    <%= f.label :finishing, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10"><%= f.select :finishing, [['Croco'],['Snake'],['Gloss'], ['Print'],['Other']], {:prompt => '-- Select One --'}, :class => "form-control", :required => true %></div>
  </div>
  <div class="form-group">
    <%= f.label :picture, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10"><%= f.file_field :picture, :class => "form-control" %></div>
  </div>
<div class="form-group">
  
  <%= f.label :devices, :class => "col-sm-2 control-label" %>
  <div class="col-sm-10">
              <div class="multiselect"> 
              <% checked_devices = @case.devices.to_a.map{ |d| d.id} %>
                <% Device.all.sort_by{|s| [s['brand'],s['full_name']]}.each do |d| %>
                <% if d.full_name != "- - - - - - - - - - - - - - - -" %>
                  <label>
                      <input type="checkbox" id="case_devices" name="case[devices][]" value="<%= d.id %>" <% if checked_devices.include?(d.id) %><%= "checked" %><% end %>/> <%= d.full_name %>
                  </label>
                  <% end %>
                <% end %>
              </div>
            </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10"><%= f.submit class: "btn btn-default btn-lg" %></div>
  </div>
<% end %>

<script type="text/javascript">
$(function() {
     $(".multiselect").multiselect();
});</script>
<%= link_to 'Back', cases_path,:style => "color: white;" , :class => "btn btn-primary btn-lg" %>
