<div class="container valenta">
  <div class="row">
    <div class="col-md-12">
      <h1 style="color: #fff"><%= @case.product_type %> <%= @case.name %> <%= @case.color %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
	    <div class="casebox-2">
	    	<%= image_tag(@case.picture_url, :width => 200) if @case.picture.present? %>
    	</div><br/>
    	<center>
	    	<%= link_to 'Edit', edit_case_path(@case), :style => "color: white; width: 100px;" , :class => "btn btn-primary btn-xs" %>
			<%= link_to 'Back', cases_path, :style => "color: white; width: 100px;" , :class => "btn btn-warning btn-xs" %>
		</center>
    </div>
    <div class="col-md-9">
		<table style="background:transparent;" class="table table-condensed table-responsive table-hover table-striped">
			<tbody>
				<tr>
					<td style="white-space:nowrap;"><strong>Product type</strong></td>
					<td><%= @case.product_type %></td>
				</tr>
				<tr>
					<td><strong>Name</strong></td>
					<td><%= @case.name %></td>
				</tr>
				<tr>
					<td><strong>Color</strong></td>
					<td><%= @case.color %></td>
				</tr>
				<tr>
					<td><strong>Material</strong></td>
					<td><%= @case.material.tr('+/', '-_').unpack('m')[0] %></td>
				</tr>
				<tr>
					<td><strong>Finishing</strong></td>
					<td><%= @case.finishing %></td>
				</tr>
				<tr>
					<td><strong>Compatibility</strong></td>
					<td><%= @case.devices.to_a.map(&:full_name).join(', ') %></td>
				</tr>
			</tbody>
		</table>
	</div>
	</div>
	</div>
